<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="org.springframework.beans.model.Environment">
    <property name="food">
        <bean class="org.springframework.beans.model.Food"/>
    </property>
    </bean>
    <bean id="food" name="food_name2" class="org.springframework.beans.model.Food"/>
</beans>